{% extends 'base.html' %}



{% block head %} 
  <title>Posts</title>
{% endblock %}


{% block body %} 
  <hr>
  
  <h1>Edit the Post</h1>

  <form action="/posts/edit/{{post.id}}" method="POST">

    <label>Title:</label>
    <input type="text" class="form-control" name="title" id="title" value="{{post.title}}" required>
    <br>
    <label>Content:</label>
    <textarea rows="3" type="text" class="form-control" name="content" id="content" required>{{post.content}}</textarea>
    <br>
    <label>Author:</label>
    <input type="text" class="form-control" name="author" value="{{post.author}}" id="author">
    <br>
    <input class="btn btn-outline-success" type="submit" name="submit" id="submit" value="Save">
    
  </form>

  <hr>

{% endblock %}
