{% extends 'base.html' %} <!--this is used to extend the base file. the file should be given in quotes-->



{% block head %} 
  <title>Home</title>
{% endblock %}


{% block body %} 
  <div class="jumbotron" style="margin-top: 10px;">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is the alpha blog posts site here we can can see all the blogs that are posted and we can edit the posts , we can add a new post, we can delete a post. We implement the CRED functionality in this site.</p>
    <hr class="my-4">
    <p>This site is developed by using basics of flask, and we also used database, the front end of this page is created by using bootstarp</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/posts" role="button">Go To Posts</a>
    </p>
  </div>
{% endblock %}




<!-- #{#%#   #%}#            this is use for syntax things like looping , if statements etc -->


<!-- #{#{#   #}}#           this is used for printing or to substitute a value remove all the hash tags to see syntax -->

