{% extends 'base.html' %}



{% block head %} 
  <title>Posts</title>
{% endblock %}


{% block body %} 
  <div style="margin-top: 10px;">
    <h1 style="display: inline; font-weight: bold;">Posts</h1> 
    <a class="btn btn-success float-right" role="button" href="/posts/new" style="margin-top: 5px;">+ New Post</a>
  </div>
  <hr>
  {% for post in posts %}

    <h2>{{ post.title }}</h2>
    <p style="margin-bottom: 5px; white-space:pre-wrap;">{{ post.content }}</p>

    {% if post.author %} 
      <small>Posted by : {{post.author}} on {{post.date_posted}}</small>
    {% else %}
      <small>Posted by : Unknown on {{post.date_posted}}</small>
    {% endif %}
    <br>

    <a class="btn btn-warning btn-sm" href="/posts/delete/{{post.id}}" style="color:black; margin-top: 5px;" role="button">Delete</a>
    <a class="btn btn-secondary btn-sm" href="/posts/edit/{{post.id}}" style="color:white; margin-top: 5px;" role="button">Edit</a>
    
    <br><br>
  {% endfor %}
{% endblock %}